:root {
  /* ------------- LIGTH THTME ------------- */
  --white-color: rgb(237, 234, 234);
  --p-color-ligth: rgba(33, 31, 31, 0.878);
  --fcolor-ligth: rgba(25, 24, 24, 0.96);
  --shadow-ligth: rgba(0, 0, 0, 0.083);
  /* ------------- LIGTH THTME ------------- */

  /* ------------- ===----=== ------------- */

  /* ------------- DARK THTME ------------- */
  --black-color: rgb(57, 57, 57);
  --fcolor-dark: rgba(247, 243, 243, 0.96);
  --p-color-dark: rgba(237, 235, 235, 0.878);
  --shadow-dark: rgba(0, 0, 0, 0.122);
  /* ------------- DARK THTME ------------- */
}

.theme-ligth {
  --bg-color: var(--white-color);
  --f-color: var(--fcolor-ligth);
  --p-color: var(--p-color-ligth);
  --shadow-color: var(--shadow-ligth);
}

.theme-dark {
  --bg-color: var(--black-color);
  --f-color: var(--fcolor-dark);
  --p-color: var(--p-color-dark);
  --shadow-color: var(--shadow-dark);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  outline: none;
}

.global-flex {
  margin-inline: auto;
  max-width: 1100px;
  width: 100%;
  padding: 1rem;

  display: flex;
}

.global-grid {
  margin-inline: auto;
  max-width: 1100px;
  width: 100%;
  padding: 1rem;

  display: grid;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
  font-size: 50%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  overflow-x: hidden;
  background: var(--bg-color);
}

img {
  width: 100%;
}

button {
  cursor: pointer;
  padding: 1.5rem 0rem;
  /* width: 150px; */
  max-width: 170px;

  font-size: 2.3rem;
  font-weight: 600;

  border: none;
  color: aliceblue;
  background-color: rgb(57, 156, 87);

  border-radius: 5px;
}

button:hover {
  background-color: rgb(94, 181, 94);
}

/* --------- HEADER --------- */

#header {
  width: 100%;
  /* padding: 1rem; */
  background-color: transparent;
  box-shadow: 0px 4px 10px var(--shadow-color);
}

#header .global-flex {
  position: relative;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

#header .global-flex .logo span {
  font-size: 4.6rem;
  color: var(--f-color);
}

#header .global-flex .icons {
  display: flex;
  gap: 4rem;
}

#header .global-flex .icons i {
  cursor: pointer;
  font-size: 3rem;
  color: var(--f-color);
}

#header .global-flex #menu {
  width: 97%;
  height: 480px;
  margin: auto;
  padding: 4rem 0rem 8rem 0rem;

  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);

  position: absolute;
  top: 101%;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  border-radius: 0rem 0rem 200rem 200rem;

  background-color: rgba(57, 156, 87, 0.613);

  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);

}

#header .global-flex #menu.nemuActive {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

#header .global-flex #menu a {
  font-size: 3rem;
  color: rgba(243, 243, 243, 0.886);
}

/* --------- HEADER --------- */

/* ===----===----===----=== */

/* --------- HERO --------- */

#hero {
  width: 100%;
}

#hero .global-flex {
  flex-direction: column;
  padding-top: 14rem;
  padding-bottom: 4rem;

  gap: 5rem;
}

#hero .global-flex .text_container_hero {
  flex: 1 1 30rem;

  display: flex;
  flex-direction: column;

  gap: 4rem;
}

#hero .global-flex .text_container_hero h1 {
  font-size: 4rem;
  color: var(--f-color);
}

#hero .global-flex .text_container_hero p {
  font-size: 2.4rem;
  color: var(--p-color);
}

#hero .global-flex .img_container_hero {
  flex: 1 1 10rem;
}

#hero .global-flex .img_container_hero img {
  width: 100%;
}

/* --------- HERO --------- */

/* ===----===----===----=== */

/* --------- INFO --------- */

#informacion {
  width: 100%;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

#informacion .global-grid {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10rem;
}

#informacion .global-grid .card {
  position: relative;
  width: 100%;
  padding: 3rem 0.6rem;

  /* background-color: rgb(81, 146, 216); */
  background-color: rgba(119, 26, 145, 0.937);

  box-shadow: 0px 4px 10px rgba(58, 58, 58, 0.404);

  border-radius: 10px;
}


#informacion .global-grid .card .img_info_card {
  position: absolute;
  top: -55px;
  left: 50%;
  transform: translateX(-50%);

  width: 70px;
  height: 70px;

  border-radius: 50%;

  /* background-color: rgb(43, 130, 223); */
  background: var(--bg-color);

  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.149);
}

body.theme-dark #informacion .global-grid .card .img_info_card {
  background-color: rgb(210, 210, 210);
}

#informacion .global-grid .card .img_info_card img {
  padding: 1rem;
}

#informacion .global-grid .card .text_info_container {
  text-align: center;
}

#informacion .global-grid .card .text_info_container h3 {
  font-size: 3rem;
  color: var(--fcolor-dark);
}

#informacion .global-grid .card .text_info_container p {
  font-size: 2.1rem;
  margin: 3rem 0rem;
  color: var(--p-color-dark);
}

#informacion .global-grid .card .text_info_container a {
  font-size: 2.7rem;
  font-weight: 600;
  color: rgb(81, 202, 85);
}

#informacion .global-grid .card .text_info_container a:hover {
  color: rgb(104, 232, 108);
}

#informacion .global-grid .card .text_info_container a::after {
  position: absolute;

  content: '<';

  right: 29%;
  /* right: 190px; */
  bottom: 22px;
}

#informacion .global-grid .card .text_info_container a:hover::after {
  content: '>';
  right: 66.5%;
  color: rgb(255, 230, 188);
}

#informacion .global-grid .card .text_info_container a:active::after {
  content: '>';
  right: 70%;
  color: rgb(255, 230, 188);
}

/* --------- INFO --------- */

/* ===----===----===----=== */

/* --------- ANIMALS --------- */

#animals {
  padding-top: 2rem;
  padding-bottom: 7rem;
  width: 100%;
}

/* #animals .global-flex {
  /* flex-direction: column; 
  
}*/


#animals .global-flex .product_box {
  width: 100%;

  display: flex;

  flex-direction: column;
  gap: 1rem;
}

#animals .global-flex .product_box .slider_prduct_container {
  padding-bottom: 0.5rem;
  width: 100%;

  display: flex;
  gap: 2rem;

  overflow-y: auto;

}

#animals .global-flex .product_box .slider_prduct_container::-webkit-scrollbar {
  margin: 1rem;
  width: 3px;
  height: 2px;
}

#animals .global-flex .product_box .slider_prduct_container::-webkit-scrollbar-track {
  background-color: rgba(163, 163, 163, 0.301);
}

#animals .global-flex .product_box .slider_prduct_container::-webkit-scrollbar-thumb {
  background-color: rgba(147, 147, 147, 0.753);
  border-radius: 100px;
}

#animals .global-flex .product_box .slider_prduct_container:hover::-webkit-scrollbar-thumb {
  background-color: rgba(27, 28, 29, 0.513);
}

#animals .global-flex .product_box .text_product_container {
  padding-top: 3rem;
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 3rem;
}

#animals .global-flex .product_box .text_product_container .span {
  color: rgb(57, 156, 87);
  font-size: 2rem;
  font-weight: 600;
}

#animals .global-flex .product_box .text_product_container h3 {
  font-size: 3.7rem;
  color: var(--f-color);
}

#animals .global-flex .product_box .text_product_container p {
  font-size: 2.2rem;
  color: var(--p-color);
}

#animals .global-flex .product_box .text_product_container .btn {
  max-width: none;
  width: 250px;
}

/* --------- ANIMALS --------- */

/* ===----===----===----=== */

/* --------- SERVICES --------- */

#services {
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 6rem;
}

#services .global-grid {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 3rem;
}


#services .global-grid .secvises_card {
  width: inherit;
  padding: 2rem 0.8rem;
  text-align: center;
  background-color: rgb(24, 119, 197);

  border-radius: 10px;

  box-shadow: 0px 2px 10px rgba(31, 30, 30, 0.4);
}

#services .global-grid .secvises_card:hover {
  background-color: rgb(70, 150, 215);
}

#services .global-grid .secvises_card i {
  font-size: 7rem;
  margin-bottom: 3rem;
  color: var(--fcolor-dark);

  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.267));
}

#services .global-grid .secvises_card h3 {
  color: var(--p-color-dark);
  font-size: 2.3rem;
}

/* --------- SERVICES --------- */

/* ===----===----===----=== */

/* --------- CONTACT --------- */

#contact {
  padding-top: 3rem;
  padding-bottom: 2rem;
  width: 100%;

  background-color: rgb(45, 30, 59);
}

#contact .global-flex {
  flex-direction: column;
  gap: 5rem;
}

#contact .global-flex .form_box {
  width: 100%;
}

#contact .global-flex .form_box form {
  width: 100%;

  display: flex;
  flex-direction: column;
}

#contact .global-flex .form_box form label {
  font-size: 2rem;
  color: aliceblue;
}


#contact .global-flex .form_box form input {
  padding: 2rem 1rem;
  font-size: 1.6rem;
  margin-bottom: 3rem;

  display: block;

  width: 100%;

  background: none;
  border: none;

  color: rgba(240, 248, 255, 0.807);
  border-bottom: 0.2px solid rgba(255, 255, 255, 0.445);

}

#contact .global-flex .form_box form input::placeholder {
  color: rgba(248, 248, 248, 0.216);
}

#contact .global-flex .mensaje {
  background-color: rgb(30, 106, 187);
  text-align: center;

  padding: 4rem 0.7rem;
  border-radius: 7px;
}

#contact .global-flex .mensaje h3 {
  font-size: 3rem;
  color: rgba(240, 248, 255, 0.833);
}

#contact .global-flex .linksAdicionales {
  width: 100%;
}

#contact .global-flex .linksAdicionales span {
  font-size: 3rem;

  color: aliceblue;
}

#contact .global-flex .linksAdicionales .menuAdicional {
  margin-top: 2rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#contact .global-flex .linksAdicionales .menuAdicional a {
  font-size: 2.7rem;

  color: rgba(240, 248, 255, 0.801);
}


/* --------- CONTACT --------- */

/* ===----===----===----=== */


@media all and (min-width: 539px) {
  html {
    font-size: 57%;
  }

  #hero .global-flex .text_container_hero h1 {
    font-size: 4.8rem;
  }

  #hero .global-flex .text_container_hero p {
    width: 80%;
  }

  #informacion .global-grid .card .text_info_container a::after {
    position: absolute;

    content: '<';
    right: 29%;
    /* right: 190px; */
    bottom: 25px;
  }

  #informacion .global-grid .card .text_info_container a:hover::after {
    content: '>';
    right: 66.5%;
    color: rgb(255, 230, 188);
  }

  #informacion .global-grid .card .text_info_container a:active::after {
    content: '>';
    right: 70%;
    color: rgb(255, 230, 188);
  }

  #contact .global-flex .form_box {
    background-color: rgba(121, 52, 140, 0.201);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.587);
  }

}

@media all and (min-width: 768px) {
  #header .global-flex #menu {

    width: auto;
    height: auto;
    margin: auto;
    padding: 0rem;

    -webkit-backdrop-filter: none;
    backdrop-filter: none;

    position: relative;
    top: 0;
    left: 0;
    right: 0;

    display: flex;
    flex-direction: row;
    /* justify-content: center;
      align-items: center;
      gap: 3rem; */

    border-radius: 0rem 0rem 200rem 200rem;

    background-color: transparent;

    clip-path: none;

  }

  #header .global-flex .icons .fa-bars {
    display: none;
  }

  #header .global-flex #menu a {
    font-size: 2.4rem;
    color: var(--p-color);
  }

  #hero .global-flex {
    display: flex;
    flex-direction: row;

    gap: 2rem;
  }

  #hero .global-flex .text_container_hero {
    flex: 1 1 30rem;
  }

  #hero .global-flex .text_container_hero h1 {
    font-size: 5.3rem;
  }

  #hero .global-flex .text_container_hero p {
    width: auto;
  }

  #hero .global-flex .img_container_hero {
    flex: 1 1 20rem;
  }

  /* ------------------------------------ */
  #animals {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  #animals .global-flex .product_box {
    flex-direction: row;

    gap: 2rem;
  }

  .slider_prduct_container img {
    object-fit: cover;
  }

  #contact .global-flex {
    flex-direction: row-reverse;

    justify-content: space-between;
    align-items: center;

    gap: 4rem;
  }

  #contact .global-flex .mensaje h3 {
    font-size: 2.4rem;
  }

  #contact .global-flex .linksAdicionales span {
    font-size: 2.4rem;
  }

  #contact .global-flex .linksAdicionales .menuAdicional a {
    font-size: 1.8rem;
  }

  #services {
    padding-top: 6rem;
    padding-bottom: 14rem;
  }

  #services .global-grid {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 3rem;
  }

  #services .global-grid .secvises_card h3 {
    color: var(--p-color-dark);
    font-size: 2rem;
  }
}